/* Google font */
body, h1, h2, h3, p, a{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Smooth scroll */
html{
  scroll-behavior: smooth;
}

body{
  background:#F8FAFC;
  color:#1E293B;
}

/* Navbar */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#065F46;
  padding:15px 30px;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  color:white;
  font-weight:700;
  font-size:1.5rem;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}

nav a:hover{
  color:#10B981;
  transform:scale(1.05);
}

/* Hero Section */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url("oil.webp");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.hero-text h1{
  font-size:3rem;
  margin-bottom:20px;
}

.hero-text p{
  font-size:1.2rem;
  margin-bottom:20px;
}

.btn{
  display:inline-block;
  padding:12px 30px;
  background:#FBBF24;
  color:#065F46;
  text-decoration:none;
  border-radius:50px;
  font-weight:700;
  transition:0.3s;
}

.btn:hover{
  background:#065F46;
  color:#FBBF24;
  transform:scale(1.1);
}

/* Features Section */
#features{
  padding:60px 20px;
  text-align:center;
}

#features h2{
  font-size:2rem;
  margin-bottom:40px;
}

.container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
}

.box{
  background:white;
  padding:30px 20px;
  width:250px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
  transition:0.3s;
  cursor:pointer;
}

.box img.icon{
  width:50px;
  margin-bottom:15px;
}

.box:hover{
  transform:translateY(-10px);
  background:#054b34;
  color:white;
}

/* CTA Section */
.cta{
  background:#065F46;
  color:white;
  padding:60px 20px;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url("rosemary-oil.webp");
  text-align:center;
}

.cta h2{
  font-size:2rem;
  margin-bottom:20px;
}

.cta .btn{
  background:#FBBF24;
  color:#065F46;
}

.cta .btn:hover{
  background:#065F46;
  color:#FBBF24;
}

/* Floating WhatsApp Button */
.whatsapp-btn{
  position:fixed;
  bottom:20px;
  right:20px;
  width:60px;
  height:60px;
  z-index:1000;
}

.whatsapp-btn img{
  width:100%;
  height:100%;
  border-radius:50%;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  transition:0.3s;
}

.whatsapp-btn img:hover{
  transform:scale(1.1);
}

/* Responsive */
@media(max-width:768px){
  .hero-text h1{
    font-size:2rem;
  }
  .container{
    flex-direction:column;
    align-items:center;
  }
}